/* variable to store the color, next time no need to type code just use variable name */
:root {
    --black: #000000;
    --white: #ffffff;
    --main-color: #F2EFE9;
    
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

video{
    width: 100%;
    height: 100%;
}

/* navigation */
nav{
    position: fixed; /*set it to fixed it will stick when u scrolling */
    top: 0;
    left: 0;
    right: 0;
   
    /*display: flex;*/
    height: 130px;
     background-color: hsl(0, 0%, 0%, 0.6); /*black color with transparent */
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
    
}

nav > ul {
    display: flex;
}

nav > ul > li{
    list-style: none;
    padding: 3%;
    
   
}
nav > ul > li a{
     text-decoration: none;
     font-size: .8rem;
     letter-spacing: .1rem;
     color: var(--white);
} 
.title{
    position: relative;
    height: 50px;
    cursor: pointer;
    width: auto;
}
.title::before,.title::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fc2f70;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.title::before{
    top: 0;
    transform-origin: center right;

}
.title:hover::before{
    transform-origin: center left;
    transform: scaleX(1);
}
.title::after{
    bottom: 0;
     transform-origin: center left;
}

.title:hover::after{
    transform-origin: center right;
    transform: scaleX(1);
}

.title{
    font-size: 1.5rem;
    font-weight: 500 ;
    
    
}

/* logo picture */
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* set width of each child  */
.logo-title{
    flex: 1;
    color: var(--white);
    font-size: 25px;
}

nav > ul{
    flex: 2;
    
}
/*new_collection*/
.new_collection{
   display: inline-block;
   padding-bottom: 20%;
   padding-top: 5%;
   padding-left: 10%;
}
.new_collection img{
    border-radius: 50%;
    width: 20%;
    height: auto;
    float: left;
}

.new_collection .text{
    margin-left: 210px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
}
/* make every child tag at center  */
.logo-title, nav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}